body header nav ul li a {
    font-size: 16px;
    color: #242424 !important;
    font-weight: 600;
    font-family: SpoqaHanSansNeo, Apple SD Gothic Neo, Malgun Gothic, sans-serif;
}
body header.home-page nav ul li a {
    font-weight: 500;
}
