body header nav ul li a {
    font-size: 16px;
    color: #242424 !important;
    font-weight: 600;
    font-family: SpoqaHanSansNeo, Apple SD Gothic Neo, Malgun Gothic, sans-serif;
}
body header.home-page nav ul li a {
    font-weight: 500;
}

.Accordion__Wrapper-sc-1tqkz2w-0 .Accordion__Details-sc-1tqkz2w-3.active {
    display: block !important;
}