:focus-visible {
    outline: 2px auto var(--focus);
    outline-offset: 2px;
}

/*!sc*/
* {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}

/*!sc*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*!sc*/
html,
body {
    height: 100%;
}

/*!sc*/
html {
    overflow-y: scroll;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/*!sc*/
body {
    font-family: 'Spoqa Han Sans Neo', -apple-system, system-ui, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
    font-size: 16px;
    line-height: 1.42857143;
    -webkit-letter-spacing: -0.6px;
    -moz-letter-spacing: -0.6px;
    -ms-letter-spacing: -0.6px;
    letter-spacing: -0.6px;
    color: var(--text-01);
    background-color: var(--ui-background);
    -webkit-transition: color 350ms ease 0s, background 350ms ease 0s;
    transition: color 350ms ease 0s, background 350ms ease 0s;
    min-width: 320px;
}

/*!sc*/
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
    word-break: keep-all;
    line-height: 1.3125;
}

/*!sc*/
a {
    color: inherit;
    -webkit-text-decoration: none;
    text-decoration: none;
    cursor: pointer;
}

/*!sc*/
button {
    border: 0;
    outline: 0;
    background-color: transparent;
    cursor: pointer;
}

/*!sc*/
img {
    max-width: 100%;
    vertical-align: top;
    object-fit: cover;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

/*!sc*/
input,
button,
textarea,
select {
    font: inherit;
}

/*!sc*/
svg {
    display: block;
}

/*!sc*/
i {
    font-style: normal;
}

/*!sc*/
li {
    list-style: none;
}

/*!sc*/
#root,
#__next {
    isolation: isolate;
}

/*!sc*/
:root {
    --inner-space: 24px;
}

/*!sc*/
:root[data-theme="light"] {
    --ui-background: #fff;
    --ui-01: #fafaf6;
    --ui-02: #f7f7f7;
    --ui-03: #f5f4f3;
    --ui-04: #f6f4ee;
    --ui-05: #ececec;
    --ui-06: #dfdfdf;
    --ui-07: #a7a39a;
    --ui-08: #555;
    --ui-09: #333;
    --ui-10: #242424;
    --ui-up: #fff;
    --ui-up-01: #fff;
    --ui-up-02: #fff;
    --ui-up-03: #fff;
    --ui-up-04: #fff;
    --primary: #ffeb60;
    --primary-press: #ffe04b;
    --secondary: #333;
    --secondary-press: #242424;
    --tertiary: #fff;
    --tertiary-press: #f7f7f7;
    --danger: #df1d1d;
    --danger-press: #bc1a1a;
    --cancel: #c1c1c1;
    --cancel-press: #a5a5a5;
    --success: #0073cb;
    --error: #f05c2e;
    --text-strong: #000;
    --text-01: #242424;
    --text-02: #555;
    --text-03: #6f6f6f;
    --text-04: #8b8b8b;
    --field-readonly: #ececec;
    --placeholder: #c1c1c1;
    --audio: #a451f7;
    --myaudio: #533670;
    --focus: #469fe3;
}

/*!sc*/
:root[data-theme="dark"] {
    --ui-background: #171717;
    --ui-01: #242424;
    --ui-02: #333;
    --ui-03: #3d3d3d;
    --ui-04: #555;
    --ui-05: #6f6f6f;
    --ui-06: #8b8b8b;
    --ui-07: #a5a5a5;
    --ui-08: #c1c1c1;
    --ui-09: #ececec;
    --ui-10: #f5f4f3;
    --ui-up: #242424;
    --ui-up-01: #333;
    --ui-up-02: #3d3d3d;
    --ui-up-03: #555;
    --ui-up-04: #6f6f6f;
    --primary: #fef08c;
    --primary-press: #fff7bf;
    --secondary: #fbfbfb;
    --secondary-press: #fff;
    --tertiary: #171717;
    --tertiary-press: #333;
    --danger: #f5511d;
    --danger-press: #eb683f;
    --cancel: #6f6f6f;
    --cancel-press: #8b8b8b;
    --success: #6ab6f0;
    --error: #ff784d;
    --text-strong: #fff;
    --text-01: #fbfbfb;
    --text-02: #dfdfdf;
    --text-03: #c1c1c1;
    --text-04: #a5a5a5;
    --field-readonly: #333;
    --placeholder: #8b8b8b;
    --audio: #b773fb;
    --myaudio: #6e5784;
    --focus: #81bfe;
}

/*!sc*/
.text-left {
    text-align: left;
}

/*!sc*/
.text-center {
    text-align: center;
}

/*!sc*/
.text-right {
    text-align: right;
}

/*!sc*/
.nowrap {
    white-space: nowrap;
}

/*!sc*/
.keep-all {
    word-break: keep-all;
}

/*!sc*/
.blur {
    -webkit-filter: blur(20px);
    filter: blur(20px);
}

/*!sc*/
.unblur {
    -webkit-animation: unblur 0.3s linear;
    animation: unblur 0.3s linear;
}

/*!sc*/
@-webkit-keyframes unblur {
    from {
        -webkit-filter: blur(20px);
        filter: blur(20px);
    }

    to {
        -webkit-filter: blur(0);
        filter: blur(0);
    }
}

/*!sc*/
@keyframes unblur {
    from {
        -webkit-filter: blur(20px);
        filter: blur(20px);
    }

    to {
        -webkit-filter: blur(0);
        filter: blur(0);
    }
}

/*!sc*/
[class^="mds-icon"]::before,
[class*=" mds-icon"]::before {
    font-family: icon;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*!sc*/
.mds-icon--add-post::before {
    content: "\e800";
}

/*!sc*/
.mds-icon--book::before {
    content: "\e801";
}

/*!sc*/
.mds-icon--add-shelf::before {
    content: "\e802";
}

/*!sc*/
.mds-icon--arrow-bottom::before {
    content: "\e803";
}

/*!sc*/
.mds-icon--arrow-left::before {
    content: "\e804";
}

/*!sc*/
.mds-icon--arrow-right::before {
    content: "\e805";
}

/*!sc*/
.mds-icon--arrow-top::before {
    content: "\e806";
}

/*!sc*/
.mds-icon--arrow2-left::before {
    content: "\e807";
}

/*!sc*/
.mds-icon--arrow2-right::before {
    content: "\e808";
}

/*!sc*/
.mds-icon--book-open::before {
    content: "\e809";
}

/*!sc*/
.mds-icon--book-plus::before {
    content: "\e80a";
}

/*!sc*/
.mds-icon--books-arrow::before {
    content: "\e80b";
}

/*!sc*/
.mds-icon--books::before {
    content: "\e80c";
}

/*!sc*/
.mds-icon--camera::before {
    content: "\e80d";
}

/*!sc*/
.mds-icon--clap-24-2::before {
    content: "\e80e";
}

/*!sc*/
.mds-icon--comment::before {
    content: "\e80f";
}

/*!sc*/
.mds-icon--crown::before {
    content: "\e810";
}

/*!sc*/
.mds-icon--delivering::before {
    content: "\e811";
}

/*!sc*/
.mds-icon--delivery-done::before {
    content: "\e812";
}

/*!sc*/
.mds-icon--delivery-exchange::before {
    content: "\e813";
}

/*!sc*/
.mds-icon--delivery-hand::before {
    content: "\e814";
}

/*!sc*/
.mds-icon--delivery-put::before {
    content: "\e815";
}

/*!sc*/
.mds-icon--delivery-refund::before {
    content: "\e816";
}

/*!sc*/
.mds-icon--download-fail::before {
    content: "\e817";
}

/*!sc*/
.mds-icon--download-success::before {
    content: "\e818";
}

/*!sc*/
.mds-icon--download::before {
    content: "\e819";
}

/*!sc*/
.mds-icon--downloaded-indesktop::before {
    content: "\e81a";
}

/*!sc*/
.mds-icon--filter::before {
    content: "\e81b";
}

/*!sc*/
.mds-icon--fullscreen-end::before {
    content: "\e81c";
}

/*!sc*/
.mds-icon--fullscreen-start::before {
    content: "\e81d";
}

/*!sc*/
.mds-icon--alert-filled::before {
    content: "\e81e";
}

/*!sc*/
.mds-icon--headphone::before {
    content: "\e81f";
}

/*!sc*/
.mds-icon--heart-1::before {
    content: "\e820";
}

/*!sc*/
.mds-icon--heart::before {
    content: "\e821";
}

/*!sc*/
.mds-icon--highlight::before {
    content: "\e822";
}

/*!sc*/
.mds-icon--check::before {
    content: "\e823";
}

/*!sc*/
.mds-icon--minus::before {
    content: "\e824";
}

/*!sc*/
.mds-icon--plus::before {
    content: "\e825";
}

/*!sc*/
.mds-icon--x::before {
    content: "\e826";
}

/*!sc*/
.mds-icon--setting::before {
    content: "\e827";
}

/*!sc*/
.mds-icon--import::before {
    content: "\e828";
}

/*!sc*/
.mds-icon--link::before {
    content: "\e829";
}

/*!sc*/
.mds-icon--list::before {
    content: "\e82a";
}

/*!sc*/
.mds-icon--lock::before {
    content: "\e82b";
}

/*!sc*/
.mds-icon--down-filled::before {
    content: "\e82c";
}

/*!sc*/
.mds-icon--mov::before {
    content: "\e82d";
}

/*!sc*/
.mds-icon--pay-autorenew::before {
    content: "\e82e";
}

/*!sc*/
.mds-icon--pay-cancel::before {
    content: "\e82f";
}

/*!sc*/
.mds-icon--pay-cancle-reservate::before {
    content: "\e830";
}

/*!sc*/
.mds-icon--pay-done::before {
    content: "\e831";
}

/*!sc*/
.mds-icon--pen::before {
    content: "\e832";
}

/*!sc*/
.mds-icon--picture::before {
    content: "\e833";
}

/*!sc*/
.mds-icon--post::before {
    content: "\e834";
}

/*!sc*/
.mds-icon--profile::before {
    content: "\e835";
}

/*!sc*/
.mds-icon--refresh::before {
    content: "\e836";
}

/*!sc*/
.mds-icon--report::before {
    content: "\e837";
}

/*!sc*/
.mds-icon--review::before {
    content: "\e838";
}

/*!sc*/
.mds-icon--routine::before {
    content: "\e839";
}

/*!sc*/
.mds-icon--searchbar::before {
    content: "\e83a";
}

/*!sc*/
.mds-icon--share::before {
    content: "\e83b";
}

/*!sc*/
.mds-icon--shelf::before {
    content: "\e83c";
}

/*!sc*/
.mds-icon--siren::before {
    content: "\e83d";
}

/*!sc*/
.mds-icon--sound-mute::before {
    content: "\e83e";
}

/*!sc*/
.mds-icon--sound-volume::before {
    content: "\e83f";
}

/*!sc*/
.mds-icon--sound::before {
    content: "\e840";
}

/*!sc*/
.mds-icon--star::before {
    content: "\e841";
}

/*!sc*/
.mds-icon--statistics-book::before {
    content: "\e842";
}

/*!sc*/
.mds-icon--up-filled::before {
    content: "\e843";
}

/*!sc*/
.mds-icon--statistics-time::before {
    content: "\e844";
}

/*!sc*/
.mds-icon--thumbs-down::before {
    content: "\e846";
}

/*!sc*/
.mds-icon--thumbs-up::before {
    content: "\e847";
}

/*!sc*/
.mds-icon--trash::before {
    content: "\e848";
}

/*!sc*/
.mds-icon--trophy::before {
    content: "\e849";
}

/*!sc*/
.mds-icon--unlock::before {
    content: "\e84a";
}

/*!sc*/
.mds-icon--video::before {
    content: "\e84b";
}

/*!sc*/
.mds-icon--viewer-list::before {
    content: "\e84c";
}

/*!sc*/
.mds-icon--more-24-1::before {
    content: "\e84d";
}

/*!sc*/
.mds-icon--input-delete::before {
    content: "\e84e";
}

/*!sc*/
.mds-icon--statistics-routine::before {
    content: "\e850";
}

/*!sc*/
.mds-icon--info::before {
    content: "\e851";
}

/*!sc*/
.mds-icon--question-mark::before {
    content: "\e852";
}

/*!sc*/
.mds-icon--text-24-1::before {
    content: "\e853";
}

/*!sc*/
.mds-icon--gnb_search::before {
    content: "\e854";
}

/*!sc*/
.mds-icon--sync-2::before {
    content: "\e855";
}

/*!sc*/
.mds-icon--alarm-2::before {
    content: "\e856";
}

/*!sc*/
data-styled.g1[id="sc-global-llMsfu1"] {
    content: "sc-global-llMsfu1,"
}

/*!sc*/
.lfPqUZ {
    font-size: 44px;
}

/*!sc*/
@media (max-width:1080px) {
    .lfPqUZ {
        font-size: 32px;
    }
}

/*!sc*/
data-styled.g2[id="Heading__H1-sc-1q2uxxu-0"] {
    content: "lfPqUZ,"
}

/*!sc*/
.doPyMX {
    font-size: 44px;
}

/*!sc*/
@media (max-width:1080px) {
    .doPyMX {
        font-size: 32px;
    }
}

/*!sc*/
data-styled.g3[id="Heading__H2-sc-1q2uxxu-1"] {
    content: "doPyMX,"
}

/*!sc*/
.hBzUzq {
    font-size: 20px;
    line-height: 28px;
}

/*!sc*/
data-styled.g5[id="Heading__H4-sc-1q2uxxu-3"] {
    content: "hBzUzq,"
}

/*!sc*/
.jcVzmJ {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    -webkit-clip: rect(0, 0, 0, 0);
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

/*!sc*/
data-styled.g6[id="SrOnly-sc-1w36qd2-0"] {
    content: "jcVzmJ,"
}

/*!sc*/
.yexVU {
    -webkit-text-decoration: none;
    text-decoration: none;
}

/*!sc*/
data-styled.g7[id="Link__InternalLink-sc-gpdhih-0"] {
    content: "yexVU,"
}

/*!sc*/
.eArUAj {
    -webkit-text-decoration: none;
    text-decoration: none;
}

/*!sc*/
data-styled.g8[id="Link__ExternalLink-sc-gpdhih-1"] {
    content: "eArUAj,"
}

/*!sc*/
.ixxpYp {
    display: block;
    padding: 10px 24px;
    color: var(--text-01);
    text-align: center;
}

/*!sc*/
@media (max-width:768px) {
    .ixxpYp {
        padding: 16px 10px;
    }
}

/*!sc*/
.ixxpYp::before {
    content: attr(data-title);
    display: block;
    height: 0px;
    font-weight: 700;
    overflow: hidden;
    visibility: hidden;
}

/*!sc*/
.ixxpYp:hover,
.ixxpYp.is-current {
    font-weight: 700;
    color: var(--text-01) !important;
}

/*!sc*/
.ixxpYp:hover+ul,
.ixxpYp.is-current+ul {
    pointer-events: auto;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}

/*!sc*/
data-styled.g9[id="Navlink__LinkStyled-sc-1ub27h3-0"] {
    content: "ixxpYp,"
}

/*!sc*/
.hxjVyH {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 64px;
    margin-right: 11px;
}

/*!sc*/
@media (max-width:768px) {
    .hxjVyH {
        display: none;
    }
}

/*!sc*/
data-styled.g11[id="Navigation__DesktopList-sc-o5xf0x-1"] {
    content: "hxjVyH,"
}

/*!sc*/
.bXyjJi {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 12px;
    height: 12px;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 5L6 8L9 5' stroke='%236F6F6F' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

/*!sc*/
.bXyjJi.is-open {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 9L8 6L5 9' stroke='%236F6F6F' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

/*!sc*/
data-styled.g12[id="Navigation__SubArrow-sc-o5xf0x-2"] {
    content: "bXyjJi,"
}

/*!sc*/
.jYtnqt {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
}

/*!sc*/
.jYtnqt .Navigation__DesktopList-sc-o5xf0x-1 {
    position: fixed;
    z-index: -1;
    right: -11px;
    top: 64px;
    width: 100%;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    background-color: rgba(255, 255, 255, 0.9);
    opacity: 0;
    -webkit-transition: -webkit-transform .3s, opacity .14s;
    -webkit-transition: transform .3s, opacity .14s;
    transition: transform .3s, opacity .14s;
    -webkit-transform: translateY(-124%);
    -ms-transform: translateY(-124%);
    transform: translateY(-124%);
    pointer-events: none;
}

/*!sc*/
.jYtnqt .Navigation__DesktopList-sc-o5xf0x-1 a:not(.is-current) {
    color: var(--text-04, #8B8B8B);
}

/*!sc*/
.jYtnqt:hover>a {
    font-weight: 700;
}

/*!sc*/
.jYtnqt:hover>.Navigation__DesktopList-sc-o5xf0x-1 {
    z-index: 2;
    pointer-events: auto;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    -webkit-transition: -webkit-transform .36s, opacity .34s;
    -webkit-transition: transform .36s, opacity .34s;
    transition: transform .36s, opacity .34s;
    background-color: rgba(255, 255, 255, 0.9);
}

/*!sc*/
data-styled.g13[id="Navigation__DesktopItem-sc-o5xf0x-3"] {
    content: "jYtnqt,"
}

/*!sc*/
.hxoUnk {
    position: fixed;
    z-index: -1;
    left: 0;
    top: 64px;
    width: 100%;
    padding: 16px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.1);
    -webkit-transform: translateY(-124%);
    -ms-transform: translateY(-124%);
    transform: translateY(-124%);
    -webkit-transition: -webkit-transform .36s;
    -webkit-transition: transform .36s;
    transition: transform .36s;
    background-color: var(--ui-background);
}

/*!sc*/
data-styled.g14[id="Navigation__NavList-sc-o5xf0x-4"] {
    content: "hxoUnk,"
}

/*!sc*/
.kovyAg .Navigation__NavList-sc-o5xf0x-4 {
    position: static;
    background-color: transparent;
    padding: 0;
    box-shadow: none;
}

/*!sc*/
.kovyAg .Navigation__NavList-sc-o5xf0x-4 a:not(.is-current) {
    color: var(--text-04, #8B8B8B);
    padding: 12px 10px;
}

/*!sc*/
.kovyAg:hover>a {
    font-weight: 700;
}

/*!sc*/
data-styled.g15[id="Navigation__NavItem-sc-o5xf0x-5"] {
    content: "kovyAg,"
}

/*!sc*/
.hjeiGN {
    display: none;
    margin-right: 8px;
}

/*!sc*/
@media (max-width:768px) {
    .hjeiGN {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}

/*!sc*/
.hjeiGN::before {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 64px;
    pointer-events: none;
    background-color: transparent;
    -webkit-transition: background .16s .24s;
    transition: background .16s .24s;
}

/*!sc*/
.hjeiGN.is-open .Navigation__NavList-sc-o5xf0x-4 {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

/*!sc*/
.hjeiGN.is-open::before {
    background-color: rgba(255, 255, 255, 1);
    -webkit-transition: background 0s;
    transition: background 0s;
}

/*!sc*/
data-styled.g16[id="Navigation__Mobile-sc-o5xf0x-6"] {
    content: "hjeiGN,"
}

/*!sc*/
.hcujpD {
    position: relative;
    z-index: 2;
    width: 48px;
    height: 48px;
}

/*!sc*/
.hcujpD::before,
.hcujpD .Navigation__Bar-sc-o5xf0x-7,
.hcujpD::after {
    content: "";
    display: block;
    width: 16px;
    height: 2px;
    margin: 0 auto;
    background-color: #333;
    border-radius: 1px;
    -webkit-transition: all .24s;
    transition: all .24s;
}

/*!sc*/
.hcujpD .Navigation__Bar-sc-o5xf0x-7 {
    margin: 4px auto;
}

/*!sc*/
.hcujpD.is-open::before {
    -webkit-transform: translateY(6px) rotate(45deg);
    -ms-transform: translateY(6px) rotate(45deg);
    transform: translateY(6px) rotate(45deg);
}

/*!sc*/
.hcujpD.is-open .Navigation__Bar-sc-o5xf0x-7 {
    opacity: 0;
}

/*!sc*/
.hcujpD.is-open::after {
    -webkit-transform: translateY(-6px) rotate(-45deg);
    -ms-transform: translateY(-6px) rotate(-45deg);
    transform: translateY(-6px) rotate(-45deg);
}

/*!sc*/
data-styled.g18[id="Navigation__Hamburg-sc-o5xf0x-8"] {
    content: "hcujpD,"
}

/*!sc*/
.fKcdcq {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    pointer-events: none;
    height: 64px;
    padding-left: 24px;
    padding-left: max(24px, env(safe-area-inset-left));
    padding-right: env(safe-area-inset-right);
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-transition: color 350ms ease 0s, background 350ms ease 0s;
    transition: color 350ms ease 0s, background 350ms ease 0s;
}

/*!sc*/
[data-theme="dark"] .Header__Wrapper-sc-1ytm4f-0 {
    background-color: rgba(23, 23, 23, 0.9);
}

/*!sc*/
.fKcdcq:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: var(--ui-06);
}

/*!sc*/
data-styled.g19[id="Header__Wrapper-sc-1ytm4f-0"] {
    content: "fKcdcq,"
}

/*!sc*/
.cPIdcb {
    position: relative;
    z-index: 2;
    pointer-events: auto;
}

/*!sc*/
data-styled.g20[id="Header__Left-sc-1ytm4f-1"] {
    content: "cPIdcb,"
}

/*!sc*/
.bQuONR {
    pointer-events: auto;
}

/*!sc*/
data-styled.g21[id="Header__Right-sc-1ytm4f-2"] {
    content: "bQuONR,"
}

/*!sc*/
.jFDdcE {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 8px 0;
}

/*!sc*/
data-styled.g22[id="Header__Branding-sc-1ytm4f-3"] {
    content: "jFDdcE,"
}

/*!sc*/
.iLrnVF {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

/*!sc*/
data-styled.g24[id="Main__Wrapper-sc-bu0qth-0"] {
    content: "iLrnVF,"
}

/*!sc*/
.dfDrXB {
    max-width: 1204px;
    padding: 0 var(--inner-space);
    padding-left: max(var(--inner-space), env(safe-area-inset-left));
    padding-right: max(var(--inner-space), env(safe-area-inset-right));
    margin: 0 auto;
}

/*!sc*/
data-styled.g25[id="Inner-sc-zoh9d9-0"] {
    content: "dfDrXB,"
}

/*!sc*/
.ilLTer {
    min-width: 24px;
    min-height: 24px;
}

/*!sc*/
data-styled.g26[id="Spacer-sc-19972yg-0"] {
    content: "ilLTer,"
}

/*!sc*/
.cfuKuH {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 12px;
    height: 12px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    color: inherit;
}

/*!sc*/
.jXaSnJ {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 12px;
    height: 12px;
    font-size: 12px;
    font-weight: normal;
    line-height: 1;
    color: inherit;
}

/*!sc*/
data-styled.g27[id="Icon__Wrapper-sc-1vy3ele-0"] {
    content: "cfuKuH,jXaSnJ,"
}

/*!sc*/
.loGBJo {
    position: relative;
    padding: 60px 0;
    border-top: 1px solid var(--ui-06);
    font-size: 14px;
    line-height: 20px;
}

/*!sc*/
data-styled.g28[id="Footer__Wrapper-sc-vbjbll-0"] {
    content: "loGBJo,"
}

/*!sc*/
.bQmtsb {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

/*!sc*/
data-styled.g29[id="Footer__Top-sc-vbjbll-1"] {
    content: "bQmtsb,"
}

/*!sc*/
.jnPNyL {
    position: relative;
    top: 2px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 8px;
    column-gap: 8px;
}

/*!sc*/
data-styled.g30[id="Footer__SNSList-sc-vbjbll-2"] {
    content: "jnPNyL,"
}

/*!sc*/
.dqqjTJ a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border: 1px solid var(--ui-06);
    border-radius: 50%;
    background-color: var(--ui-background);
}

/*!sc*/
data-styled.g31[id="Footer__SNSItem-sc-vbjbll-3"] {
    content: "dqqjTJ,"
}

/*!sc*/
.eIllvx {
    margin-top: 34px;
    color: var(--text-04);
}

/*!sc*/
data-styled.g32[id="Footer__Details-sc-vbjbll-4"] {
    content: "eIllvx,"
}

/*!sc*/
.cETwId {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: var(--text-02);
}

/*!sc*/
.cETwId::marker {
    content: "";
}

/*!sc*/
.cETwId::-webkit-details-marker {
    display: none;
}

/*!sc*/
data-styled.g33[id="Footer__Summary-sc-vbjbll-5"] {
    content: "cETwId,"
}

/*!sc*/
.iOqjHs {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 8px;
    margin-top: 24px;
}

/*!sc*/
data-styled.g34[id="Footer__DetailList-sc-vbjbll-6"] {
    content: "iOqjHs,"
}

/*!sc*/
.hmnNNi {
    white-space: nowrap;
    color: var(--text-02);
}

/*!sc*/
data-styled.g35[id="Footer__DetailItem-sc-vbjbll-7"] {
    content: "hmnNNi,"
}

/*!sc*/
.jrlcWI {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-column-gap: 18px;
    column-gap: 18px;
    row-gap: 8px;
    margin: 16px 0 34px 0;
}

/*!sc*/
@media (max-width:640px) {
    .jrlcWI {
        margin: 16px 0 30px 0;
    }
}

/*!sc*/
data-styled.g36[id="Footer__ServiceList-sc-vbjbll-8"] {
    content: "jrlcWI,"
}

/*!sc*/
.hLgMjR {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: var(--text-01);
}

/*!sc*/
data-styled.g37[id="Footer__ServiceItem-sc-vbjbll-9"] {
    content: "hLgMjR,"
}

/*!sc*/
.bpploH {
    color: var(--text-02);
}

/*!sc*/
data-styled.g38[id="Footer__Copyright-sc-vbjbll-10"] {
    content: "bpploH,"
}

/*!sc*/
@media (min-width:640px) {
    .XFqli {
        display: none;
    }
}

/*!sc*/
data-styled.g39[id="Footer__MOBILEBR-sc-vbjbll-11"] {
    content: "XFqli,"
}

/*!sc*/
.gTIvjt {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
}

/*!sc*/
data-styled.g40[id="StandardLayout__Wrapper-sc-fekk6l-0"] {
    content: "gTIvjt,"
}

/*!sc*/
.jSjXKM {
    font-size: 20px;
    overflow-wrap: break-word;
    word-break: keep-all;
}

/*!sc*/
@media (max-width:1080px) {
    .jSjXKM {
        font-size: 16px;
    }
}

/*!sc*/
data-styled.g43[id="Paragraph-sc-13icume-0"] {
    content: "jSjXKM,"
}

/*!sc*/
.kcwMyu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 42px 0;
    margin: -1px 0;
    border-top: 1px solid #A0A0A0;
    border-bottom: 1px solid #A0A0A0;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='16' viewBox='0 0 10 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.296046 15.7074C0.690773 16.0979 1.33075 16.0979 1.72548 15.7074L8.80082 8.70735C9.19555 8.31683 9.19555 7.68366 8.80082 7.29314L1.72548 0.293139C1.33075 -0.0973853 0.690775 -0.0973853 0.296047 0.293139C-0.0986805 0.683662 -0.0986807 1.31683 0.296047 1.70735L6.65667 8.00025L0.296046 14.2931C-0.0986818 14.6837 -0.0986818 15.3168 0.296046 15.7074Z' fill='%236F6F6F'/%3E%3C/svg%3E%0A");
    background-position: 100% 50%;
    background-position: calc(100% - 10px) 50%;
    background-repeat: no-repeat;
}

/*!sc*/
@media (max-width:1080px) {
    .kcwMyu {
        padding: 20px 0;
        -webkit-align-items: start;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: start;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

/*!sc*/
data-styled.g55[id="ArticleList__Item-sc-h3te1n-1"] {
    content: "kcwMyu,"
}

/*!sc*/
.PVsBp {
    display: block;
    min-width: 134px;
    color: var(--text-03);
    font-size: 20px;
    white-space: nowrap;
}

/*!sc*/
@media (max-width:1080px) {
    .PVsBp {
        font-size: 16px;
        margin-bottom: 3px;
        min-width: 93px;
    }
}

/*!sc*/
@media (max-width:640px) {
    .PVsBp {
        min-width: unset;
    }
}

/*!sc*/
data-styled.g56[id="ArticleList__Subline-sc-h3te1n-2"] {
    content: "PVsBp,"
}

/*!sc*/
.enBNbJ {
    padding-right: 40px;
    font-weight: 700;
    font-size: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*!sc*/
@media (max-width:1080px) {
    .enBNbJ {
        font-size: 16px;
        width: 100%;
    }
}

/*!sc*/
data-styled.g57[id="ArticleList__Title-sc-h3te1n-3"] {
    content: "enBNbJ,"
}

/*!sc*/
.WambJ {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-bottom: 140px;
    -webkit-column-gap: 12px;
    column-gap: 12px;
}

/*!sc*/
@media (max-width:1080px) {
    .WambJ {
        padding-bottom: 100px;
    }
}

/*!sc*/
@media (max-width:640px) {
    .WambJ {
        padding-bottom: 80px;
    }
}

/*!sc*/
data-styled.g96[id="Pagination__Wrapper-sc-12zs0pl-0"] {
    content: "WambJ,"
}

/*!sc*/
.jXVsQf {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    font-size: 16px;
    line-height: 24px;
    color: var(--text-03);
}

/*!sc*/
.fWTXqf {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    font-size: 16px;
    line-height: 24px;
    color: var(--text-03);
    font-weight: bold;
    color: var(--ui-10);
}

/*!sc*/
data-styled.g97[id="Pagination__NavLink-sc-12zs0pl-1"] {
    content: "jXVsQf,fWTXqf,"
}

/*!sc*/
.RcbT {
    border: 1px solid #DFDFDF;
    border-radius: 2px;
}

/*!sc*/
data-styled.g98[id="Pagination__NextLink-sc-12zs0pl-2"] {
    content: "RcbT,"
}

/*!sc*/
.lkeYHI {
    border: 1px solid #DFDFDF;
    border-radius: 2px;
}

/*!sc*/
data-styled.g99[id="Pagination__PrevLink-sc-12zs0pl-3"] {
    content: "lkeYHI,"
}

/*!sc*/
.bFwskW {
    padding-top: 96px;
}

/*!sc*/
@media (max-width:1080px) {
    .bFwskW {
        padding-top: 76px;
    }
}

/*!sc*/
@media (max-width:640px) {
    .bFwskW {
        padding-top: 56px;
    }
}

/*!sc*/
data-styled.g100[id="NewsRoom__Wrapper-sc-1btcdd1-0"] {
    content: "bFwskW,"
}

/*!sc*/
.bdNixO {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 10px 20px;
    border: 1px solid #E5E5EA;
    text-align: center;
    margin-right: 20px;
}

/*!sc*/
@media (max-width:1080px) {
    .bdNixO {
        -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
        margin-bottom: 4px;
        -webkit-transform-origin: left center;
        -ms-transform-origin: left center;
        transform-origin: left center;
    }
}

/*!sc*/
data-styled.g101[id="NewsRoom__EventDate-sc-1btcdd1-1"] {
    content: "bdNixO,"
}

/*!sc*/
.hxfbiy {
    font-size: 12px;
}

/*!sc*/
data-styled.g102[id="NewsRoom__Month-sc-1btcdd1-2"] {
    content: "hxfbiy,"
}

/*!sc*/
.dFbKNv {
    font-size: 16px;
}

/*!sc*/
data-styled.g103[id="NewsRoom__Day-sc-1btcdd1-3"] {
    content: "dFbKNv,"
}

/*!sc*/
.jelMjm {
    margin-top: 73px;
    margin-bottom: 80px;
}

/*!sc*/
@media (max-width:1080px) {
    .jelMjm {
        margin-top: 60px;
        margin-bottom: 60px;
    }
}

/*!sc*/
data-styled.g104[id="NewsRoom__Article-sc-1btcdd1-4"] {
    content: "jelMjm,"
}

/*!sc*/